<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
</head>

<body>
	<h1>商品一覧</h1>
	
	<table border="1">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>値段</th>
			<th>更新</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td>
				<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="get">
					<button>更新</button>
				</form>
			</td>
		</tr>
	</table>
	<a href="/items/add">新規登録</a>
	<button onclick="toggleFunc()">ボタン</button>
	<p id="text">クリックするとスタイルが変わります。</p>
	<style>
		.toggleClass {
			display: none;
		}
	</style>
	<script>
		function toggleFunc() {
			let text = document.getElementById("text");
			text.classList.toggle("toggleClass");
		}
	</script>
</body>

</html>